confdefs.h
config.h
config.log
config.status
conftest.*
Makefile
pkgIndex.tcl
ether.h
ether.x
ether_clnt.c
ether_svc.c
ether_xdr.c
mount.h
mount.x
mount_clnt.c
mount_svc.c
mount_xdr.c
pcnfsd.h
pcnfsd.x
pcnfsd_clnt.c
pcnfsd_svc.c
pcnfsd_xdr.c
rstat.h
rstat.x
rstat_clnt.c
rstat_svc.c
rstat_xdr.c
!tclconfig/install-sh
